<nav>  
    <div class="nav_container"> 
    <a href="/">Home</a>  
    <a href="/creation">Monster Creation</a> 
    {{#if userStatus}}
    <a href="/user/logout">Logout</a>  
    {{else}}
    <a href="/user/login">Login</a>    
    {{/if}} 
    </div>
</nav>  
 
<div id="page" class="d-flex align-items-center flex-column justify-content-center"> 
<div class ="create_header">  
<h1>CREATE YOUR MONSTER</h1> 
</div>
<div class="d-flex container justify-content-center mt-5">
<form method="post" action="/creation">
    {{!-- head selection --}}
    <label for="head">Head: </label>
    <select id="head" name="head">
        <option value="zombo_head">Zombo Head</option>
        <option value="big_head">Big Foot Head</option>
        <option value="vamp_head">Vampire Head</option>
        <option value="robo_head">Robot Head</option>
        <option value="headless_head">Headless Horseman Head</option>
    </select>

    <br>

    {{!-- body selection --}}
    <label for="body">Body: </label>
    <select id="body" name="body">
        <option value="zombo_body">Zombo body</option>
        <option value="big_body">Big Foot body</option>
        <option value="vamp_body">Vampire body</option>
        <option value="robo_body">Robot body</option>
        <option value="headless_body">Headless Horseman body</option> 
    </select>

    <br>

    {{!-- right arm selection --}}
    <label for="right_arm">Left Arm: </label>
    <select id="right_arm" name="right_arm">
        <option value="zombo_right_arm">Zombo Left Arm</option>
        <option value="big_right_arm">Big Foot Left Arm</option>
        <option value="vamp_right_arm">Vampire Left Arm</option>
        <option value="robo_right_arm">Robot Left Arm</option>
        <option value="headless_right_arm">Headless Horseman Left Arm</option> 
        <option value="none">none</option> 

    </select>

    <br>

    {{!-- left arm selection --}}
    <label for="left_arm">Right Arm: </label>
    <select id="left_arm" name="left_arm">
        <option value="zombo_left_arm">Zombo Right Arm</option>
        <option value="big_left_arm">Big Foot Right Arm</option>
        <option value="vamp_left_arm">Vampire Right Arm</option>
        <option value="robo_left_arm">Robot Right Arm</option>
        <option value="headless_left_arm">Headless Horseman Right Arm</option> 
        <option value="none">none</option> 

    </select>

    <br>

    {{!-- right leg selection --}}
    <label for="right_leg">Left Leg: </label>
    <select id="right_leg" name="right_leg">
        <option value="zombo_right_leg">Zombo Left Leg</option>
        <option value="big_right_leg">Big Foot Left Leg</option>
        <option value="vamp_right_leg">Vampire Left Leg</option>
        <option value="robo_right_leg">Robot Left Leg</option>
        <option value="headless_right_leg">Headless Horseman Left Leg</option> 
        <option value="none">none</option> 
    </select>

    <br>

    {{!-- left leg selection --}}
    <label for="left_leg">Right Leg: </label>
    <select id="left_leg" name="left_leg">
        <option value="zombo_left_leg">Zombo Right Leg</option>
        <option value="big_left_leg">Big Foot Right Leg</option>
        <option value="vamp_left_leg">Vampire Right Leg</option>
        <option value="robo_left_leg">Robot Right Leg</option>
        <option value="headless_left_leg">Headless Horseman Right Leg</option> 
        <option value="none">none</option> 

    </select>

    <br>

   <input id="create_submit_button" class="transition_button mt-4" type="submit" value="Create Monster">
</form>  
   
<script>  
    headValue =()=>{  
        div = document.getElementById("monster_head")  
        div.innerHTML=""
        console.log(document.getElementById("head").value)
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("head").value}.png` 
        imgHead.classList.add("monster")  
        div.appendChild(imgHead)
    } 

     bodyValue =()=>{   
         imgHead.classList.add("monster")
        div = document.getElementById("monster_body")  
        div.innerHTML=""
        console.log(document.getElementById("body").value)
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("body").value}.png` 
        imgHead.classList.add("monster")  
        div.appendChild(imgHead)
    } 

     rightArmValue =()=>{  
        div = document.getElementById("monster_right_arm")  
        div.innerHTML=""
        console.log(document.getElementById("right_arm").value) 
        if (document.getElementById("right_arm").value != "none") {
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("right_arm").value}.png`  
        imgHead.classList.add("monster")
        div.appendChild(imgHead) 
        }
    } 

     leftArmValue =()=>{  
        div = document.getElementById("monster_left_arm")  
        div.innerHTML=""
        console.log(document.getElementById("left_arm").value) 
        if (document.getElementById("left_arm").value != "none"){
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("left_arm").value}.png` 
        imgHead.classList.add("monster") 
        div.appendChild(imgHead) 
        }
    } 

      rightLegValue =()=>{  
        div = document.getElementById("monster_right_leg")  
        div.innerHTML="" 
        console.log(document.getElementById("right_leg").value) 
         if (document.getElementById("right_leg").value != "none"){
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("right_leg").value}.png` 
        imgHead.classList.add("monster") 
        div.appendChild(imgHead)  
        }
        }

     leftLegValue =()=>{  
        div = document.getElementById("monster_left_leg")  
        div.innerHTML=""
        console.log(document.getElementById("left_leg").value) 
        if (document.getElementById("left_leg").value != "none"){
        imgHead = document.createElement("IMG")  
        imgHead.src = `Images/${document.getElementById("left_leg").value}.png`  
        imgHead.classList.add("monster")
        div.appendChild(imgHead) 
        }
     }

    document.getElementById("head").addEventListener("click", headValue) 
    document.getElementById("body").addEventListener("click", bodyValue) 
    document.getElementById("right_arm").addEventListener("click", rightArmValue) 
    document.getElementById("left_arm").addEventListener("click", leftArmValue) 
    document.getElementById("right_leg").addEventListener("click", rightLegValue) 
    document.getElementById("left_leg").addEventListener("click", leftLegValue)
</script> 


<div id="monster"> 
    <div id="monster_head"><img class="monster" src="Images/zombo_head.png"></div> 
    <div id="monster_body"><img class="monster" src="Images/zombo_body.png"></div> 
    <div id="monster_right_arm"><img class="monster" src="Images/zombo_right_arm.png"></div> 
    <div id="monster_left_arm"><img class="monster" src="Images/zombo_left_arm.png"></div> 
    <div id="monster_right_leg"><img class="monster" src="Images/zombo_right_leg.png"></div> 
    <div id="monster_left_leg"><img class="monster" src="Images/zombo_left_leg.png"></div>
</div>   
</div> 
</div>



