<div id="page" class="d-flex align-items-center">
<div class="container d-flex justify-content-center">   
<div class="d-flex flex-column align-items-center login_register_box p-5">   
<div class="m-4">
<h1>Monster</h1>  
<h1>MashUp</h1>  
</div>
{{#if error}}
<p>Error: {{error}}</p> 
{{/if}}
<form class="d-flex flex-column align-items-center" method ="post" action="/user/login"> 
<div class="d-flex flex-column align-items-center m-2"> 
    <label>Email</label> 
    <input type="email" name="email">
</div> 
<div class="d-flex flex-column align-items-center m-2"> 
    <label>Password</label> 
    <input type="password" name="password"> 
</div> 

<input class="transition_button m-4" type="submit" value="Login">
</form>   
<a class="transition_button" href="/user/register">Sign Up</a>
</div>
</div>   
</div>
