
.monster {  
    height:16rem; 
    width:16rem
} 

#monster_head { 
    margin: 0; 
    padding: 0; 
    position:relative 
    
} 

#monster_body {  
    position:relative;
    margin: -16rem -0rem
} 

#monster_right_arm {  
    position:relative;
    margin: -16rem -0rem;
    z-index: 5;
} 


#monster_left_arm {  
    position:relative;
    margin: -16rem -0rem
} 


#monster_right_leg {  
    position:relative;
    margin: -16rem -0rem; 
} 


#monster_right_leg {  
    position:relative;
    margin: -16rem -0rem
}