#monster { 
    margin-left: 6rem
}

.monster {  
    height:16rem; 
    width:16rem
}   

form{  
   text-align: right;
}

select, option {
    width:13rem;
    color:black;
}

#create_submit_button { 
  font-size: 2rem
}

#monster_head { 
    margin: 0; 
    padding: 0; 
    position:relative 
    
} 

#monster_body {  
    position:relative;
    margin: -16rem -0rem;  
} 

#monster_right_arm {  
    position:relative;
    margin: -16rem -0rem;
    z-index: 5;
} 


#monster_left_arm {  
    position:relative;
    margin: -16rem -0rem
} 


#monster_left_leg {  
    position:relative;
    margin: -16rem -0rem;   
    z-index: 1; 
} 


#monster_right_leg {  
    position:relative;
    margin: -16rem -0rem;   
    z-index:2;
}  

.create_header h1 { 
    font-size:4rem
}
