@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap'); 

$story_font: 'Indie Flower', cursive; 
$header_font: 'Creepster', cursive;  

$header_color: #5e32ba;
$background_color: #18181a; 
$body_color:#f5f5f5;

